<h2>List of Works</h2>

<h4>Albums</h4>
<ul>
    <% albums = Work.where(category: "album")%>
    <% albums.each do |work|%>
        <li>
            <%= work[:title] %>
            <%= work[:creator] %>
            <%= work[:year] %>
        </li>
    <% end %>
</ul>

<h4>Books</h4>
<ul>
    <% books = Work.where(category: "book")%>
    <% books.each do |work|%>
        <li>
            <%= work[:title] %>
            <%= work[:creator] %>
            <%= work[:year] %>
        </li>
    <% end %>
</ul>

<h4>Movies</h4>
<ul>
    <% movies = Work.where(category: "movie")%>
    <% movies.each do |work|%>
        <li>
            <%= work[:title] %>
            <%= work[:creator] %>
            <%= work[:year] %>
        </li>
    <% end %>
</ul>