<h2>List of Works</h2>

<%# table here %>
<section class="media-table">
    <h4>Albums</h4>
    <table class="table">
        <thead>
            <tr>
                <th width="80">Votes</th>
                <th>Title</th>
                <th>Created By</th>
                <th width="100">Published</th>
                <th width="100">Upvote</th>
            </tr>
        </thead>
        <tbody>
            <% albums = Work.where(category: "album")%>
            <% albums.each do |work|%>
                <tr>
                    <td><%= work.votes.count%></td>
                    <td><%= link_to work.title, work_path(work.id) %></td>
                    <td><%= work.creator %></td>
                    <td><%= work.year %></td>
                    <td><button type="button" class="btn btn-primary"><%= link_to 'Upvote', upvote_path( work.id ), method: :post %></button></td>
                </tr>
            <% end %>
        </tbody>    
    </table>
</section>

<section class="media-table">
    <h4>Books</h4>
    <table class="table">
        <thead>
            <tr>
                <th width="80">Votes</th>
                <th>Title</th>
                <th>Created By</th>
                <th width="100">Published</th>
                <th width="100">Upvote</th>
            </tr>
        </thead>
        <tbody>
            <% books = Work.where(category: "book")%>
            <% books.each do |work|%>
                <tr>
                    <td><%= work.votes.count%></td>
                    <td><%= link_to work.title, work_path(work.id) %></td>
                    <td><%= work.creator %></td>
                    <td><%= work.year %></td>
                    <td><button type="button" class="btn btn-primary"><%= link_to 'Upvote', upvote_path( work.id ), method: :post %></button></td>
                </tr>
            <% end %>
        </tbody>    
    </table>
</section>

<section class="media-table">
    <h4>Movies</h4>
    <table class="table">
        <thead>
            <tr>
                <th width="80">Votes</th>
                <th>Title</th>
                <th>Created By</th>
                <th width="100">Published</th>
                <th width="100">Upvote</th>
            </tr>
        </thead>
        <tbody>
            <% movies = Work.where(category: "movie")%>
            <% movies.each do |work|%>
                <tr>
                    <td><%= work.votes.count%></td>
                    <td><%= link_to work.title, work_path(work.id) %></td>
                    <td><%= work.creator %></td>
                    <td><%= work.year %></td>
                    <td><button type="button" class="btn btn-primary"><%= link_to 'Upvote', upvote_path( work.id ), method: :post %></button></td>
                </tr>
            <% end %>
        </tbody>    
    </table>
</section>

<%# buttons %>
<button type="button" class="btn btn-secondary"><%= link_to "View top media", root_path %></button>
<button type="button" class="btn btn-primary"><%= link_to "Add a new work", new_work_path %></button>