<section>
<h2><%= @work.title %></h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.year %></p>
<p><%= @work.description %></p>
</section>

<section>
    <%# buttons here; a class="btn btn-primary" %>
    <button type="button" class="btn btn-primary"><%= link_to 'Back to media ranks', root_path %></button>
    <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_work_path %></button>
    <%# Upvote %>
    <button type="button" class="btn btn-primary-delete"><%= link_to 'Delete', work_path( @work.id ), method: :delete, data: {confirm: "Are you sure?"}%></button>
</section>

<section class="works-votes__container">
    <%# Votes and Users who voted%>
</section>