<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- copied from class example -->
    <header class="app-header__header">
    <h1>
      Media Ranker <!--link to home -->
      <small>Ranking the Best of Everything</small>
    </h1>
    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          View all media <!--link to works index -->
        </li>
        <li class="nav-item app-header__nav_item">
          View all users <!--link to users index -->
        </li>
      </ul>
    </nav>
    </header>

    <%= yield %>
  </body>
</html>
